@import '~@angular/material/theming';
@import './vendor/style/main';

@mixin api-page-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $forground: map-get($theme, foreground);
}
