<div class="root">
    <!-- <div class="jumbo mat-elevation-2">
        <div class="api-info-container">
            <div class="api-info-container-left">
                <img src="http://via.placeholder.com/150x150">
            </div>
            <div class="api-info-container-right">
                <span class="api-info-title">{{(apiInfo$ | async)?.name}}</span>
                <p class="api-info-descripion">{{(apiInfo$ | async)?.description}}</p>
            </div>
        </div>
    </div> -->
    <!-- <div class="api-navigation">
        <mat-tab-group class="mat-accent " [backgroundColor]="accent">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-form-field>
                        <mat-select panelClass="example-panel" placeholder="Favorite food">
                            <mat-option [value]="1.0">
                                Ver 1.0.1
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-template>

            </mat-tab>
            <mat-tab label="Version 2.0"></mat-tab>
        </mat-tab-group>
    </div> -->
    <div id="swagger-ui">

    </div>

</div>