.root {
  overflow-y: hidden;
}

.spacer {
  flex: 1 1 auto;
}

.version-select {
  margin-top: 10px;
  width: 150px;
  max-width: 150px;
  font-size: medium;
}

.breadcrumb-title {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 14px;
  line-height: 36px;
  padding: 0 16px;
}
