@import '~@angular/material/theming';

@mixin api-page-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $forground: map-get($theme, foreground);
  .jumbo {
    background-color: mat-color($primary);
    color: mat-color($accent, default-contrast);
  }
}
