<div class="root">
    <div *ngIf="apiInfo$ | async as apiInfo">
        <mat-toolbar color="primary">
            <mat-toolbar-row class="mat-elevation-2">
                <span *ngIf="applicationInfo$ | async as applicationInfo" class="breadcrumb-title">{{applicationInfo.name}}</span>
                <mat-icon>keyboard_arrow_right</mat-icon>
                <span class="breadcrumb-title">{{apiInfo.name}}</span>

                <span class="spacer"></span>

                <!--Version dropdown-->
                <div *ngIf="versions$ | async as versions">
                    <mat-form-field color="primary" class="version-select">
                        <mat-select [value]="apiInfo.id" (selectionChange)="onVersionSelected($event.value)">
                            <mat-option *ngFor="let version of versions.items" [value]="version.id">
                                v{{version.version}}
                                <span *ngIf="version.status == 'BETA'">
                                    <mat-chip color="primary" selected>{{version.status}}</mat-chip>
                                </span>
                                <span *ngIf="version.status == 'DEPRECATED'">
                                    <mat-chip color="accent" selected>{{version.status}}</mat-chip>
                                </span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div id="swagger-ui">
    </div>
</div>