<a target="_blank" *ngIf="apiInfo" routerLink='/apis' [queryParams]="{id: apiInfo.id}">
  <div class="api-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{apiInfo.name}}</mat-card-title>
        <mat-card-subtitle>{{apiInfo.description}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="api-card-action">
        <mat-chip-list>
          <mat-chip *ngFor="let tag of apiInfo?.tags">
            {{tag}}
          </mat-chip>
          <mat-chip>v{{apiInfo.version}}</mat-chip>
        </mat-chip-list>
      </mat-card-actions>
    </mat-card>
  </div>
</a>