@import '~@angular/material/theming';

.api-card {
  margin-top: 20px;

  &:hover {
    cursor: pointer;
    @include mat-elevation(8);
  }
  width: 100%;
}

.api-mat-card {
}

.api-card-action {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
}
