$menu-height: 64px;
$search-input-height: 64px;

.spacer {
  flex: 1 1 auto;
}

.title {
  margin-right: 30px;
}

.menu-icon {
  margin-left: 10px;
  margin-right: 10px;
}

.mat-toolbar.mat-primary {
  background: #1e88e5;
  color: #fff;
}

a {
  color: #ffffff;
  text-decoration: none;
}
