$menu-height: 64px;
$search-input-height: 64px;

.spacer {
  flex: 1 1 auto;
}

.title {
  margin-right: 30px;
}

.menu-icon {
  margin-left: 10px;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

.breadcrumb-text {
  font-size: small;
  font-weight: normal;
  text-transform: uppercase;
}

.navigation-toolbar {
  z-index: 1;
}

.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
