@import '~@angular/material/theming';

@mixin catalog-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $forground: map-get($theme, foreground);

  .hero {
    background-color: mat-color($primary, default-contrast);
  }

  .searchTerm {
    border-color: mat-color($primary);
    color: black;
    border-style: solid;
  }

  .searchButton {
    border: 1px solid mat-color($accent);
    background: mat-color($accent);
    color: #fff;
  }
}
