@import '~@angular/material/theming';

@mixin catalog-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $forground: map-get($theme, foreground);

  .hero {
    background: mat-color($primary);
    background-image: linear-gradient(to right, mat-color($primary, darker), mat-color($primary));
  }
  .hero-title {
    color: mat-color($primary, default-contrast);
  }
  .hero-contents {
    color: white;
  }
}
