@import '~@angular/material/theming';

@mixin catalog-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $forground: map-get($theme, foreground);

  .hero {
    background: white;
    color: grey;
  }
  .hero-title {
    color: grey;
  }
}
