.root {
  margin: 0px;
  min-height: 80vh;
  padding: 0px;
}

.hero {
  width: 100%;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 192px;
}

.hero-icon {
  font-size: 250px;
}

.hero-title {
  margin-top: 20px;

  font: 400 34px/40px Roboto, 'Helvetica Neue', sans-serif;

  display: inline-block;
}

.search-results-container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
