<div class="root">
    <!-- Hero -->
    <div>
        <div class="hero">
            <div>
                <span class="hero-title">Your API Catalog</span>
            </div>
            <div class="search-box-container">
                <div class="searchbox">
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="What are you looking for?" #searchBox id="search-box" (keyup)="search(searchBox.value)">
                        <button type="submit" class="searchButton">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                </div>
                <span class="spacer"></span>
            </div>
        </div>
    </div>
    <!-- All APIs -->
    <div [hidden]="searchBox.value">
        <div *ngFor="let api of (apis$ | async)?.apis; let i = index">
            <app-api-card [apiInfo]=api>
            </app-api-card>
        </div>
    </div>
    <!-- Search Results -->
    <div [hidden]="!searchBox.value">
        <div *ngFor="let api of (searchApiResults$ | async)?.apis; let i = index">
            <app-api-card [apiInfo]=api>
            </app-api-card>
        </div>
    </div>
</div>