<div class="root">
  <!-- Hero -->
  <mat-card>
    <div class="hero">
      <h2 class="mat-display-2">Explore.Build.Amaze</h2>
      <app-search-box class="search-box-container" (searchTerms)="onSearchTerms($event)"></app-search-box>
    </div>
  </mat-card>
  <!-- Search Results-->
  <div class="search-results-container">
    <div *ngIf="searchApiResults$ | async as results">
      <!-- Search Results -->
      <p>Query returned {{results.items.length}} result(s) for
        <i>{{searchPhrase}}</i>
      </p>
      <app-catalog-list [items]="results.items"></app-catalog-list>
    </div>

    <div *ngIf="searchPhrase.length === 0">
      <div *ngIf="apis$ | async as results">
        <app-catalog-list [items]="results.items"></app-catalog-list>
      </div>
    </div>
  </div>
</div>